.anime-banner {
  height: 500px;
  background-size: cover;
  background-position: left;
  position: relative;
  z-index: 1;

}

.anime-header {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin: 0 3% 0 9%;
  /* background-color: white; */
}

.noimage-header {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin: 0 3% 0 9%;
  /* background-color: white; */
}

.anime-info {
  width: 1100px;
  max-height: 65vh;
  overflow: hidden;
  /* margin-top: -360px; */
  margin-top: 120px;
  color: rgb(251, 251, 251);
  z-index: 2;
}

.noimage-info {
  width: 1100px;
  max-height: 65vh;
  overflow: hidden;
  /* margin-top: -360px; */
  margin-top: 120px;
  color: rgb(251, 251, 251);
  z-index: 2;
}

.anime-details {
  padding: 20px;
}

.anime-cover {
  width: 200px;
  height: fit-content;
  object-fit: cover;
  /* margin-top: -370px; */
  margin-top: 120px;
  z-index: 2;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}

.noimage-cover {
  width: 200px;
  height: 290px;
  object-fit: cover;
  /* margin-top: -370px; */
  margin-top: 120px;
  z-index: 2;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
}

.anime-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;


  /* color: #868686; */
}

.anime-info p {
  font-weight: 500;
  font-size: 14px;
  /* color: #8a8a8ae8; */
}

.noimage-info h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;


  /* color: #868686; */
}

.noimage-info p {
  font-weight: 500;
  font-size: 14px;
  /* color: #8a8a8ae8; */
}

.anime-meta {
  min-width: 230px;
  padding: 20px;
  height: fit-content;
  background-color: #ffffff70;
  margin-top: 20px;
}

.anime-meta p, ul {
  font-size: 13px;
  margin-bottom: 5px;  
  margin-top: 2px;
  margin-bottom: 15px;
  color: #7e7e7e;
  font-weight: 500;
}

.anime-meta strong {
  color: #717171;
}

.anime-characters,
.anime-recommendations {
  margin-top: 30px;
}

.character-list,
.recommendation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.character-item,
.rec-item {
  text-align: center;
  max-width: 126px;
}

.character-item img,
.rec-item img {
  border-radius: 8px;
  width: 120px;
  height: 160px;
  object-fit: cover;
}

.character-role {
  font-style: italic;
  font-size: 14px;
}
