.navbar {
  margin: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 10rem);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px);
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem 2rem;
  /* apply sticky  */
  position: sticky;
  top: 10px;
  z-index: 100;
}

.navbar.transparent {
  background-color: transparent;
  backdrop-filter: none;
  box-shadow: none; /* Remove shadow */
  position: relative;
}

.navbar .logo {
  margin-right: 2rem;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  gap: 15px;
  margin-right: 4px;
}

.navbar .nav-menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

/* .nav-menu a:hover {
  color: #3596f1;
} */

.navbar .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
